:root{
    --verde: #1e2b74f3;
}

h1{
    color:var(--verde);
}

a{
    color: var(--verde);
}

.configP{
   color: red;
}

#configP2{
    color: blue;
}

.configP3{
    color: rgb(60, 156, 194);
 }

 .flexContainer{
   display: flex;
   justify-content: center;
   
 }

 .colorDiv{
    background-color: #3f737a;
 }

 .flexContainerVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
